In [13]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [14]:
df=pd.read_csv('car_prices.csv')

df.head()

   Mileage  Age(yrs)  Sell Price($)
0    69000         6          18000
1    35000         3          34000
2    57000         5          26100
3    22500         2          40000
4    46000         4          31500

Split the dataset in the variables which will be preicted (y) and the variables which will predict (X).
The we can use to split the data set in trainig and test data. 
The trainig date will be used to train our model. Which means that in case of a linear model, the perfect line will be fond which represent the data as a linear graph. 
So in our case: y = mx+ b the m and the b will be found. 

The test data can then be used to enter x in our found model to calculate the y value. Then we can compare the found y's to check hw close they are to our actual y's. This is done with the score method

In [17]:
X= df[['Mileage', 'Age(yrs)']]
y= df['Sell Price($)']

X_train, X_test, y_train, y_test =train_test_split(X, y, test_size=0.33, random_state=42)

    Mileage  Age(yrs)
0     69000         6
17    69000         5
15    25400         3
1     35000         3
8     91000         8
5     59000         5
11    79000         7

In [18]:
from sklearn.linear_model import LinearRegression

cfg = LinearRegression()

cfg.fit(X_train, y_train)

cfg.predict(X_train)

array([39609.70770452, 15348.5484987 , 37698.90037348, 26457.27811108,
       26801.66004788, 23053.4401011 , 28538.75762155, 30897.29950939,
       26106.82101841, 21316.34252742, 17220.70306591, 17411.78379901,
       28538.75762155])

In [19]:
cfg.score(X_test, y_test)

0.897835419486596